{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<head>
    <style>
        img{ max-width : 100%; }
        .reviewbox{border:1px solid black;}
    </style>
</head>
<body>
<div>
<h1>리뷰를 보여주는 창입니다. </h1>



{% for reviews in posts %}
    <!-- <h3> {{reviews.author}} </h3>
    <h3> <img src = "{{reviews.image.url}}" height = 400 alt = "리뷰 사진"> </h3>
    <h2> {{reviews.title}} </h2>
    <h2> {{reviews.body}} </h2> -->
    <div class="reviewbox">
    <table>
        <tr>
            <td>{{reviews.author}}</td>
        </tr>
        <tr>
            <td><img src = "{{reviews.image.url}}" alt = "리뷰 사진"></td>
        </tr>
        <tr>
            <td>{{reviews.title}}</td>
        </tr>
        <tr>
            <td>{{reviews.body}}</td>
        </tr>
    </table>
    </div>
    <br>
{% endfor %}


{% if posts.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">Previous</a>
{% endif %}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{% if posts.has_next %}
<a href="?page={{posts.next_page_number}}">Next</a>
<a href="?page={{posts.paginator.num_pages}}">Last</a>
{% endif %}

</div>
</body>
{% endblock %}