<!doctype html>
<html lang = "ko">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>쓔집-수정이를 위한 수정이만을 위한 맛집 정보</title>
<style>
h1, h3{
  padding-top:10px;
  text-align:center;
}
table{
  margin:auto;
}
.category{
  height:30px;
  width: 100%;
}
.category table tr th{
  line-height: 40px;
  text-align: center;
  border:3px solid #ffffff;
  border-radius: 10px;
  width:100px;
}
.category table tr td{
  text-align: center;
  padding:10px;
}
</style>
</head>
<body>
<div class="container">
<h1>쓔집</h1>
<h3>수정이를 위한 수정이만을 위한 맛집 정보</h3>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">   
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          환영합니다. {{ user.username}}님!</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href=""></a>
            <a class="dropdown-item" href=""></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
        <form id = "logout" method="POST" action="{% url 'logout' %}">
          {% csrf_token %} <input type = "hidden" />
        </form>
      </li>
      {% else %}
       <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">회원 가입</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">로그인</a>
      </li>
      {% endif%}
    </ul>
  </div>   
</nav>
<br>
  {% block content %}
  {% endblock%}
</div>
</body>
</html>